html{
	box-sizing: border-box;
	height: 100%;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body {
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #373737;
	height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
	max-width: 1170px;
	padding: 0px 15px;
	margin: 0 auto;
}

.title {
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
}

.main-title {
	font-size: 64px;
	line-height: 72px;
	font-weight: 700;
}



/* START INDEX.HTML */

/* START HEADER */

.header {
	border-bottom: 1px solid #373737;
	position: relative;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {
	list-style: none;
	padding: 25px 0px;
	margin: 0;
	display: flex;
}

.header__item + .header__item {
	margin-left: 50px;
}

.header__link	{
	position: relative;
	text-decoration: none;
	color: #373737;
}

.header__link::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #7EB2FD;
	opacity: .4;
	transition: all .3s;
}

.header__link:hover::before {
	height: 6px;
}

.header__link--active {
	color: #7EB2FD;
}

.header__burger {
	width: 30px;
	height: 25px;
	cursor: pointer;
	position: relative;
	display: none;
}

.header__burger::before {
	content: "";
	width: 30px;
	height: 3px;
	background-color: #373737;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all .3s;
}

.header__burger::after {
	content: "";
	width: 30px;
	height: 3px;
	background-color: #373737;
	position: absolute;
	left: 0;
	top: 0;
	transition: all .3s;
}

.header__line {
	height: 3px;
	background-color: #373737;
	margin-top: 11px;
}

.header__burger.active .header__line {
	opacity: 0;
}

.header__burger.active::before {
	top: 12px;
	transform: rotate(45deg);
}

.header__burger.active::after {
	top: 12px;
	transform: rotate(-45deg);
}


/* END HEADER */

/* START PAGE */

.page {
	margin-bottom: 80px;
}

.page__inner {
	display: flex;
	justify-content: space-between;
}

/* END PAGE */


/* START MAIN-SCREEN */

.main-screen {
	margin-bottom: 20px;
}

.main-screen__title {
	padding-top: 80PX;
	max-width: 855px;
}

.main-screen__text {
	max-width: 505px;
	font-size: 20px;
	line-height: 28px;
	color: #808080;
	margin-top: 35px;
}

.main-screen__wrapper {
	max-width: 700px;
	margin-left: auto;
	margin-top: -120px;
}

.main-screen__img {
	max-width: 100%;
}

/* END MAIN-SCREEN */


/* START ABOUT */


.about__title {
	max-width: 558px;
	margin-bottom: 25px;
	margin-top: 40px;
}

.about__text {
	font-size: 20px;
	line-height: 28px;
	color: #808080;
	max-width: 590px;
}

.about__wrapper {
	max-width: 500px;
	margin-top: 25px;
}

.about__img {
	width: 100%;
}

/* END ABOUT */

/* START NEWS */

.news {
	max-width: 349px;
	margin-top: 40px;
}

.news__title {
	display: block;
	width: fit-content;
	margin: 0 auto 45px;
	position: relative;
}

.news__title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 3px;
	background-color: #7EB2FD;
}

.news__item {
	font-size: 16px;
	display: inline-block;
	max-width: 349px;
	text-decoration: none;
}

.news__item + .news__item {
	margin-top: 20px;
}


.news__info {
	color: #373737;
}

.news__date {
	color: #808080;
	transition: all .3s;
}

/* END NEWS */


/* START PARTNERS */

.partners {
	margin-top: 35px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
}

.partners__inner {
	max-width: 710px;
}

.partners__title {
	width: fit-content;
	margin: 15px auto 15px;
	position: relative;
}

.partners__title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -9px;
	width: 100%;
	height: 3px;
	background-color: #7EB2FD;
}

.partners__wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.partners__item {
	display: flex;
	align-items: center;
	margin-top: 40px;
	text-decoration: none;
}

.partners__info {
	font-size: 14px;
	line-height: 19px;
	color: #808080;
	display: inline-block;
	max-width: 254px;
	margin-left: 20px;
}

/* END PARTNERS */


/* START FOOTER */

.footer {
	border-top: 1px solid #373737;
	line-height: 19px;
	color: #373737;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 30px 0;
}

.footer__logo {
	max-width: 180px;
	width: 100%;
	text-align: center;
	color: #373737;
	text-decoration: none;
	font-size: 14px;
}

.footer__info {
	max-width: 180px;
}

.footer__menu {
	list-style: none;
	padding: 0;
	margin: 0;
	max-width: 196px;
	width: 100%;
}

.footer__link {
	text-decoration: none;
	color: #373737;
	transition: all .3s;
}

.footer__link:hover {
	color: #7EB2FD;
}

.footer__item + .footer__item {
	margin-top: 30px;
}

.footer__contacts {
	max-width: 171px;
	width: 100%;
}

.footer__title {
	margin-bottom: 20px;
	font-weight: 700;
}

.footer__phone,
.footer__mail,
.footer__adress {
	display: block;
	margin-top: 10px;
	color: #373737;
	text-decoration: none;
}

.footer__adress {
	max-width: 200px;
	text-align: center;
}

.footer__sponsor {
	max-width: 215px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-decoration: none;
}

.footer__sponsor-name {
	text-align: center;
	color: #373737;
	max-width: 295px;
}

.footer__copy {
	text-align: center;
	font-size: 12px;
	color: #808080;
}

.footer__copy-link {
	font-size: 12px;
	color: #808080;
	text-decoration: none;
	transition: all .3s;
}

.footer__copy-link:hover {
	color: #7EB2FD;
}

/* END FOOTER */

/* END INDEX.HTML */







/* START EVENTS.HTML */

/* START EVENTS */

.events__title {
	margin-top: 70px;
	margin-bottom: 15px;
	text-align: center;
}

.events__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 200px;
	padding: 0 80px;
}

.events__item {
	margin-top: 45px;
	text-decoration: none;
	position: relative;
}

.events__item:hover .events__hover{
	height: calc(100% - 80px);
	overflow: visible;
	opacity: 1;
}

.events__img {
	width: 100%;
}

.events__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #808080;
	border-top: none;
	margin-top: -5px;
	padding: 5px 0;
}

.events__type {
	color: #7EB2FD;
}

.events__name {
	font-size: 24px;
	line-height: 30px;
	color: #373737;
}

.events__date {
	color: #808080;
}

.events__hover {
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	opacity: 0;
	background-color: rgba(126, 178, 253, .7);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s;
}

.events__hover-text {
	color: #ffffff;
	font-size: 18px;
	position: relative;
}

.events__hover-text::after {
	content: "";
	position: absolute;
	top: 0;
	right: -25px;
	width: 20px;
	height: 23px;
	background-image: url(../images/arrow-right.svg);
	background-repeat: no-repeat;
}

/* END EVENTS */


/* END EVENTS.HTML */




/* START WORKSHOP.HTML */



/* START WORKSHOP */

.workshop__title {
	margin-top: 70px;
	text-align: center;
}

.workshop__empty {
	font-size: 20px;
	line-height: 28px;
	color: #808080;
	margin-top: 40px;
	margin-bottom: 100px;
	text-align: center;
}

/* END WORKSHOP */



/* END WORKSHOP.HTML */



/* START IDEAS.HTML */



/* START ideas */

.ideas__title {
	margin-top: 70px;
	text-align: center;
}

.ideas__empty {
	font-size: 20px;
	line-height: 28px;
	color: #808080;
	margin-top: 40px;
	margin-bottom: 100px;
	text-align: center;
}

/* END ideas */



/* END IDEAS.HTML */